.backgr {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    border: 12px groove black;
    height: 100%;
}

.contact-map-wrapper {
    width: 80%;
    margin: 20px auto;
}

.contact-form, .contact-information {
    flex: 1;
    min-height: 400px;
    max-height: fit-content;
}

.form-warning {
    color: white;
    background-color: rgb(255, 0, 0);
}
.contact-channels{
    width: 80%;
    display: flex;
    margin: 20px auto;
    gap: 10%;
    padding: 10px;
    justify-content: center;
    padding: 10px;
}

.contact-information img {
    height:  100%;
    width:  auto;

}

.contact-information-details ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-information-details ul li {
    font-size: 1em;
}

.map-info {
    margin: 150px auto;
}

.map-info iframe {
    display: block;
    margin: auto;
}

.map-container {
    width: fit-content;
    padding: 5%;
    margin: auto;
}